<div class="container-inner">
	<h1>{{# each data.independentposts.results}}{{{categoryList indpenendentcategories}}}{{/each}}</h1>
</div>
<div class="container-inner">
	<div class="row">
		<div class="col-sm-8 col-md-9">
			<div class="blog">
				{{# each data.independentposts.results}}
				<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="post">
					<h2><a href="{{independentPostURL slug}}">{{{title}}}</a></h2>
					<p class="lead text-muted">{{{independentCategoryUrl indpenendentcategories prefix="Posted in "}}}
							{{#if author.name.first}}by {{author.name.first}}{{/if}}
					</p>
					{{#if image}}<img src="{{{cloudinaryUrl image width=160 height=160 crop='fit' }}}" class="img pull-right">{{/if}}
					<p>{{{content.brief}}}</p>
					{{#if content.extended}}<p class="read-more"><a href="{{independentPostURL slug}}">MORE</a></p>{{/if}}
				</div>
				{{/each}}
			</div>
		</div>
		<div class="col-sm-4 col-md-3">  
			<div style="margin-top: 70px;" class="list-group">
				<a href="/blog" class="active list-group-item">All</a>
				{{# each data.indpenendentcategories }}
				<a href="{{independentCategoryUrl key}}" class="false list-group-item">{{name}}</a>
				{{/each}}
			</div>
		</div>
	</div>
	{{>pagination}}
</div>
